<div ng-controller="SettingsController as $ctrl">
	<h1>Settings</h1>

	<div class="form-group">
		<label>WebSockets Server URL</label>
		<input type="text" class="form-control" ng-model="$ctrl.websocketServerUrl" placeholder="WebSockets Server URL" />
	</div>

	<div class="alert alert-warning" ng-if="!$ctrl.ws">
		Error connecting to WebSockets Server...
	</div>

	<div class="alert alert-success" ng-if="!!$ctrl.ws">
		Connected to WebSockets Server!
	</div>

	<button ng-click="$ctrl.reconnect()" class="btn btn-primary">Reconnect</button>
</div>
